{% extends "theapp/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}

    <a href="/loggedin"><button class="btn btn-primary" type="submit">Login</button></a>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
  <p class="text-center">Or go back to , <a href="/home_back">main page</a></p>
</div>



{% endblock %}
